# Sublime
/gwt-voices.sublime-workspace

# GWT Cache
gwt-unitCache/
.gwt/

# /Voices/
/Voices/tomcat
/Voices/www
/Voices/.gwt-cache
/Voices/bin
/Voices/build
/Voices/.gwt
/Voices/gwt-unitCache

# /Voices/src/com/allen_sauer/gwt/voices/public/
/Voices/src/com/allen_sauer/gwt/voices/public/gwt-voices.swf

# /Voices/war/
/Voices/war/demo
/Voices/war/test

# /Voices/war/WEB-INF/
/Voices/war/WEB-INF/classes
/Voices/war/WEB-INF/deploy
/Voices/war/WEB-INF/appengine-generated

# /VoicesCrowd/war/WEB-INF/
/VoicesCrowd/war/WEB-INF/deploy
/VoicesCrowd/war/WEB-INF/classes

/VoicesCrowd/war/voicescrowd/

# /VoicesCrowd/war/WEB-INF/appengine-generated/
/VoicesCrowd/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
/VoicesCrowd/war/WEB-INF/appengine-generated/local_db.bin

# App Engine SDK
appengine-api-labs-*.jar
appengine-api-*-sdk-*.jar
appengine-api-labs.jar
appengine-endpoints.jar
appengine-jsr107cache-*.jar
jsr107cache-*.jar

# GWT SDK
gwt-servlet.jar
