/war/WEB-INF/lib/asm-4.0.jar
/war/WEB-INF/lib/datanucleus-api-jdo-*.jar
/war/WEB-INF/lib/datanucleus-api-jpa-*.jar
/war/WEB-INF/lib/datanucleus-appengine-*.jar
/war/WEB-INF/lib/datanucleus-core-*.jar
/war/WEB-INF/lib/geronimo-jpa_2.0_spec-1.0.jar
/war/WEB-INF/lib/jdo-api-*.jar
/war/WEB-INF/lib/jta-*.jar
