@CHARSET "UTF-8";

.demo-event-text-area {
  border: 1px solid #AAAAAA;
  width: 90%;
  height: 8em;
  overflow: auto;
}

.demo-event-text-area-header {
  color: #333333;
  margin-top: 2em;
}

.demo-footer {
  margin-top: 1em;
  font-style: italic;
}

.demo-note {
  font-size: 0.8em;
  font-style: italic;
}

.demo-note ul {
  margin: 0em 0em 0em 1.5em;
}

.gwt-DisclosurePanel .header {
  cursor: pointer;
}

.gwt-DisclosurePanel .content {
  padding: 0.5em;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  background-color: #DDEEFF;
}

.demo-panels {
  margin: 0.5em;
}
